@font-face {
    font-family: futura pt heavy;
    src: url("../font/Futura/FuturaPTHeavy.otf");
}

@font-face {
    font-family: futura pt medium;
    src: url("../font/Futura/FuturaPTMedium.otf");
}

@font-face {
    font-family: futura pt book;
    src: url("../font/Futura/FuturaPTBook.otf");
}

@font-face {
    font-family: futura pt light;
    src: url("../font/Futura/FuturaPTLight.otf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --16px : 1rem;
    --20px : 1.25rem;
    --24px: 1.5rem;
    --32px: 2rem;
    --40px: 2.5rem;
}

.display_none {
    display: none;
}