.community_container{
    margin-top: 15%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    > h1 {
        font-family: futura pt heavy;
        font-size: var(--40px);
        letter-spacing: 0.15em;
        text-align: center;
        margin-bottom: 10%;

    }

    > :nth-child(2) {

        article {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 10%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            div {
                border: 1px solid black;
                padding: 5%;
                
                h1 {
                    font-family: futura pt heavy;
                    font-size: var(--32px);
                    letter-spacing: 0.05em;
                }

                p {
                    margin-top: 2%;
                    font-family: futura pt medium;
                    font-size: var(--16px);
                    letter-spacing: 0.05em;
                }

                button {
                    margin-top: 5%;
                    font-family: futura pt heavy;
                    font-size: var(--16px);
                    letter-spacing: 0.15em;
                    background-color: black;
                    color: white;
                    height: 50px;
                    width: 30%;
                }
            }
        }
    }

    > :nth-child(3) {
        border: 1px solid black;

        h1 {
            font-family: futura pt heavy;
            font-size: var(--32px);
            letter-spacing: 0.05em;
            text-align: center;
            margin-top: 3%;
        }

        p {
            font-family: futura pt medium;
            font-size: var(--20px);
            letter-spacing: 0.05em;
            margin: 2% 3% 2% 3%;
        }
        
        div {
            display: grid;
            grid-template-columns: 1fr 1fr;

            > :first-child {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://lh3.googleusercontent.com/pw/AJFCJaUWe25B6R8dSYx_05jQLt1_x25Pz1fbaf2PCCkmCSZ1-1vLuhHvu2KGtPosohzwjsf6QZvQKLFmnWJNiEMWg4JBkbFC-Lq_zwGVNsNu89xIZBKmgPlmi38UvAUdmGuVxr7PWB3-2RE2AOJgX9GQkiA=w1414-h943-s-no?authuser=0");
                background-size: cover;
                background-position: center;
                height: 420px;

                svg {
                    height: 70%;

                }
            }

            > :nth-child(2) {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://lh3.googleusercontent.com/pw/AJFCJaUIIxGwGASnbGZy-Yve0fnmVVHTX0Ljj8mHvCp6A2_boR3z5ysVeOaUIQfdFJ0xhhssI2TYTgyO_J2QL7Qns9DRt5qYxqRw4iVe7cDYZyhfFUXw_7g41AIh0gF094k_Z3MZU3orHHzzEi9_1rYm35g=w1280-h622-s-no?authuser=0");
                background-size: cover;
                background-position: center;
                height: 420px;

                svg {
                    height: 70%;

                }
            }
        }
    }
    
}