.footer_container {
    color: #D7D7D7;
    display: grid;
    grid-template-columns: 1fr 1.75fr;
    height: 485px;
}

.footer_leftside_container {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(60%)
    }
}

.footer_rightside_container {
    background-color: #3F3F3F;
    padding-top: 4%;
    padding-left: 5%;
    padding-right: 10%;

    > :first-child {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        > div {
            > h1 {
                font-family: futura pt heavy, sans-serif;
                font-size: var(--24px);
                letter-spacing: 0.15em
            }
            > div {
                > button {
                    color: #D7D7D7;
                    display: flex;
                    font-family: futura pt medium, sans-serif;
                    font-size: var(--16px);
                    letter-spacing: 0.05em;
                    background-color: transparent;
                    border-style: none;
                    margin-top: 8%;
                    
                }
            }
        }
    }

    :nth-child(2) {
        font-family: futura pt heavy, sans-serif;
        font-size: var(--24px);
        letter-spacing: 0.15em;
        margin-top: 1%;
    }

    :nth-child(3) {
        font-family: futura pt medium, sans-serif;
        font-size: var(--20px);
        letter-spacing: 0.05em;
        margin-top: 1%;
    }
    
    :nth-child(4) {
        margin-top: 1%;

        > button {
            margin-right: 5%;
            background-color: transparent;
            border-style: none;

            > svg {
                height: 30px;
                width: 30px;
                > path {
                    fill: #D7D7D7;
                }
            }
        }
    }

    :nth-child(5) {
        text-align: end;
        margin-top: 1%;
        font-family: futura pt medium, sans-serif;
        font-size: var(--16px);
        letter-spacing: 0.05em;
    }
}