.not_active {
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
    border-bottom: 1px solid black !important;
    background-color: #C0C0C0 !important;
}


.LoginAndRegisterComponent_container{

    margin: 150px auto 250px auto;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    width: 90%;
    height: 750px;
}

.LoginAndRegisterComponent_leftside_container {
    > img {
        filter: brightness(60%);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.LoginAndRegisterComponent_rightside_container {
    background-color: #D7D7D7;
    border: 1px solid black;
    
    > :first-child {
        
        display: grid;
        grid-template-columns: 1fr 1fr;

        > button {
            background-color: transparent;
            border: none;
            padding-top: 30px ;
            padding-bottom: 30px;
            font-family: futura pt heavy, sans-serif;
            font-size: var(--24px);
        }
    }

    > :nth-child(2) {
        margin-top: 2%;
        display: flex;
        align-items: center;
        gap: 5%;
    
        > p {
            font-family: futura pt heavy, sans-serif;
            font-size: var(--32px); 
        }
    }
}


.LoginAndRegisterComponent_rightside_register_container{
    > :first-child {
        > form {
            display: grid;
            > :first-child {
                div {
                    display: grid;
                    padding: 3%;
                    grid-template-columns: 1fr 1fr;
                    gap: 5%;
                }
    
                span {
                    display: grid;
                    > label {
                        font-family: futura pt medium, sans-serif;
                        font-size: var(--24px);
                        letter-spacing: 0.15em
                    }
                    > input {
                        padding-left: 10px;
                        font-size: var(--20px);
                        height: 40px;
                        background-color: transparent;
                        border: 1px solid black;
                        
                    }
                }
            }
    
            > :nth-child(2) {
                margin-top: 20px;
                width: 50%;
                text-align: center;
                place-self: center;
                font-family: futura pt book;
                font-size: var(--16px);
                letter-spacing: 0.15em
            }
    
            > :nth-child(3) {
                color: #DCDCDC;
                background-color: #222222;
                margin-top: 20px;
                place-self: center;
                height: 60px;
                width: 30%;
                font-family: futura pt heavy, sans-serif;
                font-size: var(--20px);
                letter-spacing: 0.15em
            }
        }
    }
}

.LoginAndRegisterComponent_rightside_login_container {
    > form {
        display: grid;
        > div {
            margin-inline: auto;
            margin-top: 5%;
            width: 50%;
            span {
                display: grid;
                margin-bottom: 10%;
                > label {
                    font-family: futura pt medium, sans-serif;
                    font-size: var(--24px);
                    letter-spacing: 0.15em
                }
                > input {
                    padding-left: 10px;
                    font-size: var(--20px);
                    height: 40px;
                    background-color: transparent;
                    border: 1px solid black;
                    
                }
            }
        }

        > p {
            margin-top: 20px;
            width: 50%;
            text-align: center;
            place-self: center;
            font-family: futura pt book;
            font-size: var(--16px);
            letter-spacing: 0.15em
        }

        > button {
            color: #DCDCDC;
            background-color: #222222;
            margin-top: 20px;
            place-self: center;
            height: 60px;
            width: 30%;
            font-family: futura pt heavy, sans-serif;
            font-size: var(--20px);
            letter-spacing: 0.15em
        }
    }
        
}
