@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';


.navbar_container{
    position: absolute;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    
    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }
}

.navbar_leftside_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;

    > span {
        > svg {
            width: 80px;
            height: 80px;
        }
    }

    > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10%;

        button {
            font-family: futura pt heavy, sans-serif;
            font-size: var(--16px);
            letter-spacing: 0.15em;
            background-color: transparent;
            border-style: none;
        }
    }
}

.navbar_rightside_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    > button {
        background-color: transparent;
        border-style: none;
        margin-right: 30px;
        > svg {
            width: 25px;
            height: 25px;
        }
    }
}

// Radix UI

.DropdownMenuContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    

    button {
        display: flex;
        align-items: center;
        gap: 10%;
        width: 200px;
        background-color: transparent;
        border: none;
        
        svg {
            width: 10%;
            height: 10%;
        }

        p {
            font-family: futura pt heavy, sans-serif;
            font-size: var(--16px);
            letter-spacing: 0.15em;
        }
    }
}

.link_container {
    text-decoration: none;
    color: black;
}


