.product_info_component_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 8% auto 8% auto;
}

.product_info_component_leftSide_container {
    margin-left: 10%;

    > :first-child {
        display: flex;
        gap: 5%;

        > :first-child {
            display: flex;
            flex-direction: column;
            gap: 5%;

            button {
                img {
                    width: 8vw;
                }
            }
        }

        > :nth-child(2) {
            img {
                width: 30vw;
            }
        }


    }

}

.product_info_component_rightSide_container {
    padding-left: 10%;

    > h1 {
        font-family: futura pt heavy, sans-serif;
        font-size: var(--32px);
        letter-spacing: 0.15em;
    }
    
    h2 {
        font-family: futura pt light, sans-serif;
        font-size: var(--24px);
        letter-spacing: 0.1em;
    }

    div {
        margin-top: 2%;
    }

    > :nth-child(2) {
        font-family: futura pt medium, sans-serif;
        font-size: var(--32px);
        letter-spacing: 0.05em;
    }

    > :nth-child(3) {
        font-family: futura pt book, sans-serif;
        font-size:  var(--16px);
        letter-spacing: 0.05em;
        width: 90%;
    }

    > :nth-child(4) {
        > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            width: 220px;
            background-color: #D9D9D9;
            padding-left: 1.5%;
            padding-right: 1.5%;

            p {
                font-family: futura pt book, sans-serif;
                font-size:  var(--20px);
                letter-spacing: 0.05em;
            }

            button {
                background-color: transparent;
                border: none;
                height: 70%;
            }
        }
    }

    > :nth-child(5) {
        > div {
            > button {
                font-family: futura pt book, sans-serif;
                font-size:  var(--20px);
                letter-spacing: 0.05em;
                border: 1px solid black;
                background-color: transparent;
                margin-right: 10%;
                width: 150px;
                height: 50px;
            }
        }
    }

    > :nth-child(6) {
        > div {
            > button {
                border: none;
                margin-right: 3%;
                width: 50px;
                height: 50px;
            }
        }
    }

    > :nth-child(7) {
        margin-top: 5%;
        font-family: futura pt heavy, sans-serif;
        font-size:  var(--20px);
        letter-spacing: 0.15em;
        background-color: black;
        color: white;
        width: 80%;
        height: 60px;
    }

}