.productTechnology_container {
    width: 90%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;

    

    > h1 {
        font-family: futura pt heavy;
        font-size: var(--40px);
        letter-spacing: 0.15em;
        text-align: center;
        margin-bottom: 7%;
    }

    article {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
        gap: 2%;

        > div {
            div {
                margin-bottom: 10%;
            }
            span {
                display: flex;
                gap: 3%;
                margin-bottom: 5%;
    
                h2 {
                    font-family: futura pt heavy;
                    font-size: var(--24px);
                    letter-spacing: 0.05em;
                }
            }
    
            p {
                font-family: futura pt medium;
                font-size: var(--20px);
                letter-spacing: 0.05em;
            }
        }
        

        img{
            width: 40vw;
        }
    }

}