.showAllProduct_container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
    

    > h1 {
        font-family: futura pt heavy;
        font-size: var(--40px);
        letter-spacing: 0.15em;
        text-align: center;
        margin-bottom: 5%;
    }

    button {
        background-color: transparent;
        display: flex;
        justify-content: center; 
        align-items: center; 
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        border: none;
        margin-bottom: 10%;

        img{
            width: 100%;
        }
    }
}