.userDashboard_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;

    > :first-child {
        display: flex;
        flex-direction: column;
        gap: 5%;

        > :first-child {
            border: 1px solid black;
            display: flex;

            > svg {
                width: 10vw;
            }

            > div {
                padding: 2%;
                
                > h1 {
                    font-family: futura pt heavy;
                    font-size: var(--32px);
                    letter-spacing: 0.15em;
                }
                
                > h2 {
                    font-family: futura pt book;
                    font-size: var(--24px);
                    letter-spacing: 0.15em;
                }

                > h3 {
                    font-family: futura pt light;
                    font-size: var(--24px);
                    letter-spacing: 0.15em;
                }
            }
        }

        > :nth-child(2) {
            padding: 2%;
            font-family: futura pt heavy;
            font-size: var(--24px);
            letter-spacing: 0.15em;
            border: 1px solid black;
            height: 100%;
        }
    }  
}

.cart_container{
    border: 1px solid black;
    

    > h1 {
        font-family: futura pt heavy;
        font-size: var(--32px);
        margin: 2%;
    }

    > button {
        font-family: futura pt heavy;
        font-size: var(--32px);
        color: white;
        background-color: black;
        width: 50%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 25%;
        margin-right: 25%;
    }
}

.order_container {
    display: flex;
    gap: 5%;
    padding: 2%;


    > img {
        width: 30%;
        object-fit: cover;
    }

    > div {

        > h1 {
            font-family: futura pt heavy;
        }
        > p {
            font-family: futura pt book;
        }
    }

}